<div>
    <div class = "main-button">
        <%= link_to "Add Post", new_post_path %>
    </div>
    <div id = "posts" class = "index__posts">
        <%= render @posts %>
    </div>
</div>
<%= will_paginate @posts %>