<div>
    <div class = "main-button">
        <%= link_to "Add Post", new_post_path %>
    </div>
    <div class = "index__posts">
        <% @posts.each do |post|%>
            <%= render partial: "posts/post", locals: { post: post } %>
        <% end %>
    </div>
</div>